{% extends "base.html" %}
{% block content %}
  <div class="album-list">
  {% for alb in album.albums %}
    <div class="menu-img thumbnail">
      <a href="{{ alb.url }}">
        <img src="{{ alb.thumbnail }}" class="album_thumb"
             alt="{{ alb.title }}" title="{{ alb.title }}" /></a>
      <span class="album_title">{{ alb.title }}</span>
    </div>
  {% endfor %}
  </div>

  <!--
  <span style="margin-left:10px;"> <a href="static/content/release_order_100ivlist.txt"> 100iv-lista julkaisupäivämäärän mukaan tekstimuodossa </a> </span> <br>
  <span style="margin-left:10px;"> <a href="static/content/trade_string.txt"> pokemon-reppuun liitettävä rimpsu, joka näyttää puuttuvia, treidaukseen sopivia </a> </span> <br>
  <span style="margin-left:10px;"> <a href="static/content/missing_100ivlist.txt"> puuttuvat tekstimuodossa </a> </span>
  -->

{% endblock %}
